body {
    margin: 0;
}

.banner{
    background-color: #48f756;
    padding: 10px;
}

.wg-api-football-fixtures{
    align-items: center;
    margin: 0 auto;
}
 .banner__header{
    white-space: nowrap;
}

.banner__header > h1 {
  width: 300px;
  display: inline-block;
}
 